---
import { Image } from "astro:assets";

import slide1 from "../images/carousel/slide1.webp";
import slide2 from "../images/carousel/slide2.webp";
import slide3 from "../images/carousel/slide3.webp";
import slide4 from "../images/carousel/slide4.webp";
import slide5 from "../images/carousel/slide5.webp";
import slide6 from "../images/carousel/slide6.webp";
import slide7 from "../images/carousel/slide7.webp";
import slide8 from "../images/carousel/slide8.webp";
import slide9 from "../images/carousel/slide9.webp";
---

<div class="image-carousel-track">
  <div
    class="image-carousel-item image-carousel-item-1 image-carousel-item-circle"
  >
    <Image src={slide1} alt="SOTOH 2025 Event Image" />
  </div>

  <div class="image-carousel-item image-carousel-item-2">
    <svg
      width="261"
      height="390"
      viewBox="0 0 261 390"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g style="mix-blend-mode:screen">
        <path
          d="M130.992 260C130.992 331.797 72.3451 390 0 390C8.62706e-07 318.203 58.6473 260 130.992 260Z"
          fill="#E1D6FF"></path>
      </g>
      <g style="mix-blend-mode:screen">
        <path
          d="M-5.68248e-06 130C72.3451 130 130.992 188.203 130.992 260C58.6473 260 -2.5624e-06 201.797 -5.68248e-06 130Z"
          fill="#FFF7ED"></path>
      </g>
      <g style="mix-blend-mode:screen">
        <path
          d="M130.167 130C201.964 130 260.167 188.203 260.167 260H130.167V130Z"
          fill="#E1D6FF"></path>
      </g>
      <path
        d="M260.167 0C260.167 71.7969 201.963 130 130.166 130L130.167 -5.68248e-06L260.167 0Z"
        fill="url(#pattern0_24_448)"></path>
      <defs>
        <pattern
          id="pattern0_24_448"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_24_448"
            transform="matrix(0.0025 0 0 0.0025 -0.65 -0.1)"></use>
        </pattern>
        <image
          id="image0_24_448"
          width="800"
          height="533"
          preserveAspectRatio="xMidYMid slice"
          href={slide2.src}
        />
      </defs>
    </svg>
  </div>

  <div class="image-carousel-item image-carousel-item-3">
    <svg
      width="261"
      height="390"
      viewBox="0 0 261 390"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <path
        d="M0 260C-3.15033e-06 188.203 58.4251 130 130.496 130C202.567 130 260.992 188.203 260.992 260H0Z"
        fill="url(#pattern0_804_10140)"></path>
      <g>
        <path
          d="M130 130C58.203 130 1.2054e-05 71.797 1.52588e-05 -5.68248e-06C71.797 -1.68796e-06 130 58.203 130 130Z"
          fill="#E1D6FF"></path>
      </g>
      <g>
        <path
          d="M260.992 0C260.992 71.797 202.345 130 130 130C130 58.203 188.647 -1.81295e-08 260.992 0Z"
          fill="#FFF7ED"></path>
      </g>
      <g>
        <path
          d="M260.168 260C260.168 331.797 201.965 390 130.168 390L130.168 260L260.168 260Z"
          fill="#E1D6FF"></path>
      </g>
      <defs>
        <pattern
          id="pattern0_804_10140"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_804_10140"
            transform="matrix(0.00125 0 0 0.00251 0 -0.17)"></use>
        </pattern>
        <image
          width="800"
          height="533"
          href={slide3.src}
          id="image0_804_10140"
          preserveAspectRatio="xMidYMid slice"
        />
      </defs>
    </svg>
  </div>

  <div
    class="image-carousel-item image-carousel-item-4 image-carousel-item-circle"
  >
    <Image src={slide4} alt="SOTOH 2025 Event Image" />
  </div>

  <div class="image-carousel-item image-carousel-item-5">
    <svg
      width="391"
      height="260"
      viewBox="0 0 391 260"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g style="mix-blend-mode:screen">
        <path
          d="M130.992 260C58.6473 260 6.18171e-07 201.797 -5.68248e-06 130C-1.19831e-05 58.203 58.6473 3.10924e-05 130.992 2.47917e-05L130.992 260Z"
          fill="#FFF7ED"></path>
      </g>
      <path
        d="M260 260C188.751 260 130.992 201.797 130.992 130C130.992 58.203 188.751 3.11312e-05 260 2.48785e-05L260 260Z"
        fill="url(#pattern0_25_458)"></path>
      <g style="mix-blend-mode:screen">
        <path
          d="M260 0C331.797 0 390 58.203 390 130C318.203 130 260 71.797 260 0Z"
          fill="#E1D6FF"></path>
      </g>
      <g style="mix-blend-mode:screen">
        <path
          d="M390.166 130C390.166 201.797 331.963 260 260.166 260L260.166 130L390.166 130Z"
          fill="#FFF7ED"></path>
      </g>
      <defs>
        <pattern
          id="pattern0_25_458"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_25_458"
            transform="matrix(0.005 0 0 0.0025 -2.0 -0.1)"></use>
        </pattern>
        <image
          id="image0_25_458"
          width="800"
          height="533"
          preserveAspectRatio="xMidYMid slice"
          href={slide5.src}
        />
      </defs>
    </svg>
  </div>

  <div class="image-carousel-item image-carousel-item-6">
    <svg
      width="261"
      height="260"
      viewBox="0 0 261 260"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g style="mix-blend-mode:screen">
        <path
          d="M-5.68248e-06 130C72.3451 130 130.992 188.203 130.992 260C58.6473 260 -2.5624e-06 201.797 -5.68248e-06 130Z"
          fill="#E1D6FF"></path>
      </g>
      <g style="mix-blend-mode:screen">
        <path
          d="M260 130C260 201.797 202.241 260 130.992 260C130.992 188.203 188.751 130 260 130Z"
          fill="#FFF7ED"></path>
      </g>
      <path
        d="M0.166504 130C0.166501 58.2029 58.3694 3.13834e-06 130.166 0C201.963 -3.13834e-06 260.166 58.2029 260.166 130H0.166504Z"
        fill="url(#pattern0_25_463)"></path>
      <defs>
        <pattern
          id="pattern0_25_463"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_25_463"
            transform="matrix(0.00125 0 0 0.0025 0 -0.17)"></use>
        </pattern>
        <image
          id="image0_25_463"
          width="800"
          height="533"
          preserveAspectRatio="none"
          href={slide6.src}
        />
      </defs>
    </svg>
  </div>

  <div class="image-carousel-item image-carousel-item-7">
    <svg
      width="131"
      height="260"
      viewBox="0 0 131 260"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g style="mix-blend-mode:screen">
        <path
          d="M130 0C58.203 6.27669e-06 1.2054e-05 58.203 1.52588e-05 130C71.797 130 130 71.797 130 0Z"
          fill="#E1D6FF"></path>
      </g>
      <path
        d="M130.166 130C130.166 201.797 71.9629 260 0.16601 260L0.166016 130L130.166 130Z"
        fill="url(#pattern0_25_471)"></path>
      <defs>
        <pattern
          id="pattern0_25_471"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_25_471"
            transform="matrix(0.0025 0 0 0.0025 -0.95 -0.05)"></use>
        </pattern>
        <image
          id="image0_25_471"
          width="800"
          height="533"
          preserveAspectRatio="xMidYMid slice"
          href={slide7.src}
        />
      </defs>
    </svg>
  </div>

  <div class="image-carousel-item image-carousel-item-8">
    <svg
      width="260"
      height="260"
      viewBox="0 0 260 260"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <path
        d="M0 260C-3.13835e-06 188.203 58.203 130 130 130C201.797 130 260 188.203 260 260H0Z"
        fill="url(#pattern0_25_475)"></path>
      <g style="mix-blend-mode:screen">
        <path
          d="M260 4.76837e-07C260 71.797 201.797 130 130 130C58.203 130 2.85677e-05 71.797 1.91526e-05 2.32068e-05L260 4.76837e-07Z"
          fill="#FFF7ED"></path>
      </g>
      <defs>
        <pattern
          id="pattern0_25_475"
          patternContentUnits="objectBoundingBox"
          width="1"
          height="1"
        >
          <use
            xlink:href="#image0_25_475"
            transform="matrix(0.00125 0 0 0.0025 0 -0.17)"></use>
        </pattern>
        <image
          id="image0_25_475"
          width="800"
          height="533"
          preserveAspectRatio="none"
          href={slide8.src}
        />
      </defs>
    </svg>
  </div>

  <div
    class="image-carousel-item image-carousel-item-9 image-carousel-item-circle"
  >
    <Image src={slide9} alt="SOTOH 2025 Event Image" />
  </div>

  <div class="image-carousel-item image-carousel-item-10">
    <svg
      width="130"
      height="260"
      viewBox="0 0 130 260"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g style="mix-blend-mode:screen">
        <path
          d="M0.826166 0C72.0751 2.39562e-08 129.834 58.203 129.834 130C58.5849 130 0.826169 71.797 0.826166 0Z"
          fill="#E1D6FF"></path>
      </g>
      <g style="mix-blend-mode:screen">
        <path
          d="M130 260C58.2031 260 0.000123887 201.797 -1.1365e-05 130L130 130L130 260Z"
          fill="#FFF7ED"></path>
      </g>
    </svg>
  </div>
</div>

<style lang="scss">
  .image-carousel {
    &-track {
      display: flex;
      gap: 4px;
      flex-shrink: 0;
    }

    &-item {
      flex-shrink: 0;

      display: flex;
      flex-direction: column;

      svg {
        display: block;
      }

      &-1 {
        margin-top: 130px;

        img {
          object-position: 10% 50%;
        }
      }

      &-9 {
        img {
          object-position: 100% 50%;
        }
      }

      &-circle {
        width: 260px;
        height: 260px;
        border-radius: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
</style>
