---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../sections/Footer.astro";
import Container from "../components/Container.astro";

interface Props {
  title: string;
  description?: string;
  noindex?: boolean;
}

const { title, description, noindex } = Astro.props;
const canonical = `https://sotoh.openhomefoundation.org${Astro.url.pathname}`;
---

<Layout
  title={title}
  description={description}
  canonical={canonical}
  noindex={noindex}
  includeEventSchema={false}
>
  <Header slot="header" lightMode={true} />
  <div class="text-page">
    <Container containerClass="container--column">
      <div class="text-content">
        <h1 class="h1">{title}</h1>
        <slot />
      </div>
    </Container>
  </div>
  <Footer slot="footer" />
</Layout>

<style lang="scss">
  @use "../styles/mixins/breakpoint.scss" as *;

  .text-page {
    padding: 4rem 0;

    @include bp(tablet) {
      padding: 6rem 0;
    }
  }

  .text-content {
    max-width: 800px;
    width: 100%;
    color: var(--text-on-light);

    h1 {
      color: var(--text-on-light);
    }

    :global(h1) {
      margin-bottom: 2rem;
    }
  }
</style>
